body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    background-image: url('../images//istockphoto-1015507732-170667a.jpeg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-body{
    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

nav{
    width: 100%;
    height: 5rem;
    background-color: transparent;
    box-shadow: 0px 7px 66px -1px rgba(0,0,0,0.75);
    justify-content: center;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    width: 80%;
    list-style: none;
    justify-content: space-between;
}

nav ul li{
    font-size: 1.5rem;
    transition: 0.5s;
    color: rgb(200, 193, 193);

}

nav ul li:hover {
    border-left: 1px solid rgb(200, 193, 193); 
    border-right: 1px solid rgb(200, 193, 193); 
    transform: scale(1.4);
    padding: 0 10px;
}

nav ul li:hover a {
    color: antiquewhite;

}

a{
    text-decoration: none;
    transition: 0.4s;
    color: rgb(200, 193, 193);
}

.image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    transition: 0.5s;
}

img:hover{

    transform: scale(1.2);
}


.title{
    display: flex;
    margin-top: 3rem;
    align-items: flex-end;
    color: white;
}