body {
  margin: 0;
  padding: 0;
}

.box {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 2rem;
  background: linear-gradient(
    270deg,
    hsla(221, 45%, 73%, 1) 0%,
    hsla(220, 78%, 29%, 1) 100%
  );
}

.current-location{
  border: 1px solid black; 
  padding: 0.4rem;
  border-radius: 10px;
}

.location {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.312);
}

.text-red{
  color: red;
}

main {
  margin-top: 3rem;
}

input {
  padding: 0.2rem 0.8rem;
  background-color: darkblue;
  color: white;
}

#searching-panel {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

}

.city {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem ;
}

.city header {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.temp {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.temp span {
  font-size: 2rem;
  color: white;
}

.temp div span {
  font-size: 12px !important;
}

.weather-condition {
  font-size: 12px;
}

.detailed-temp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 13px;
  color: white;
}

.border-right {
  border-right: 1px solid white;
}

.city main {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 5rem;
}

.wind{
    display: flex; 
    gap: 10px;
    color: white;
}

/* Input field rows disabled */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
